@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

:host {
  width: 100%;
}

.Participant {
  width: 7vh;
  height: 7vh;
  margin: 0 0.5rem;
  position: relative;
  @include respond-to('tab') {
    width: 100%;
    height: auto;
    margin: 1rem;
  }
}

.Participant__info {
  position: absolute;
  top: -100%;
  left: 0;
  transform: translate(0, -75%);
  background-color: #000000;
  padding: 0.5rem;
  border-radius: 5px;
  width: auto;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @include respond-to('tab') {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    display: block;
    opacity: 1;
    visibility: visible;
    width: calc(100% / 12 * 8);
    text-align: right;
    padding-right: 2rem;
  }
}

.Participant.is-open .Participant__info {
  display: block;
  opacity: 1;
  visibility: visible;
}

.Participant__photo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  @include respond-to('tab') {
    width: calc(100% / 12 * 4);
  }

  .Participant__cancel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.2rem;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    @include respond-to('tab') {
      width: 4rem;
      height: 4rem;
    }
  }

  &:hover .Participant__cancel {
    visibility: visible;
    opacity: 1;
  }
}
