.c-form {
  height: 100%;
}

.c-form__field {
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;

  .o-brand-title {
    color: get-color('primary');
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.c-form__main-action {
  width: 100%;
  text-align: center;
  font-family: $trenda;
  font-weight: 800;
  font-size: calc-em(20px);
}

input, select {
  font-family: $trenda;
  font-weight: 800;
  font-size: calc-em(22px);
}
