@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Dashboard {
  width: 100vw;
  height: 100vh;
  @include respond-to('lap') {
    flex-wrap: nowrap;
  }
}

.Dashboard__working-area {
  height: 100%;
  overflow-y: scroll;
  @include respond-to('lap') {
    height: 100vh;
    flex-grow: auto;
  }
}

.Dashboard__widgets {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  align-items: flex-end;
  @include respond-to('lap') {
    position: static;
    right: auto;
    bottom: auto;
    left: auto;
    width: auto;
    height: 100vh;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
}
