@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Widget {
  background-color: #000000;
  height: auto;
  min-height: 10vh;
  max-height: 10vh;
  transition: all 0.3s;

  &.is-open {
    max-height: none;
    padding: 2rem 0;
  }
  @include respond-to('tab') {
    height: 20vh;
    min-height: 20vh;
    max-height: none;
    padding: 2rem 0;

    &.is-open {
      height: auto;
      justify-content: space-around;
    }
  }
  @include respond-to('lap') {
    height: 50vh;
    width: 50vh;
    justify-content: space-around;

    &.is-open { height: 50vh; }
  }
}

.Widget__navigation {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 10vh;
  padding: 0 15%;

  li {
    list-style-type: none;
  }
}

.navigation__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 4vh;
  opacity: 0;
  visibility: hidden;
  transition: color 0.3s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    color: get-color('green');
  }

  &:hover { color: get-color('green'); }
  // Reset position on larger screens
  @include respond-to('lap') {
    position: static;
    top: 0;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

// Reset position when widget is open
.Widget.is-open .navigation__link {
  position: static;
  top: 0;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.Widget__main-action {
  opacity: 0;
  visibility: hidden;
  margin: 0 auto;
  // Reset visibility on larger screens
  @include respond-to('lap') {
    opacity: 1;
    visibility: visible;
  }
}

// Reset visibility when widget is open
.Widget.is-open .Widget__main-action {
  opacity: 1;
  visibility: visible;
}
