<div class="Reservations">
  <!-- Bar menu's form for adding new items -->
  <div class="Reservations__form">
    <form class="c-form [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Reservation Date</span>
          <input (change)="onFilterChange(filter.value)" type="date" name="date" placeholder="mm/dd/yyyy" #filter>
        </label>
      </div>
    </form>
  </div>

  <!-- Bar menu's inventory list -->
  <div class="Reservations__list [ o-grid o-grid-axis-align--between o-grid-cross-align--stretch ]">
    <div class="ListItem [ o-grid o-grid-axis-align--between o-grid-cross-align--center u-12of12 u-6of12@lap ]" *ngFor="let reservation of reservations">
      <h1 class="o-item-title u-font-display t3 u-text-truncate u-margin-c [ o-grid__child u-10of12 ]"><strong>{{reservation.name}}</strong></h1>
      <span class="o-item-modifier u-text-right [ o-grid__child u-2of12 ]">Table {{reservation.table}}</span>
      <span class="o-item-details o-brand-title u-color-primary u-margin-s--bottom u-text-uppercase [ o-grid__child u-12of12 ]">{{formattedDate(reservation.date)}}</span>
      <span class="o-item-details o-brand-title u-color-primary u-margin-s--bottom u-text-uppercase [ o-grid__child u-12of12 ]">{{reservation.guests}} guests - {{reservation.attending}} attending</span>
      <p class="o-item-description [ o-grid__child u-12of12 ]">{{reservation.description}}</p>
      <p *ngIf="reservation.service" class="o-item-description [ o-grid__child u-12of12 ]">Service order: {{reservation.service}}</p>
      <button (click)="removeReservation(reservation.id, reservation.name)" class="u-font-display u-color-primary o-grid__child o-grid-self-align--end"><strong>Remove reservation</strong></button>
    </div>
  </div>
</div>
