<div class="Orders">
  <!-- Bar menu's form for adding new items -->
  <div class="Orders__form">
    <form class="c-form [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Tickets From</span>
          <input (change)="onFilterChange(fromFilter.value, toFilter.value)" type="date" name="from" placeholder="mm/dd/yyyy" #fromFilter>
        </label>
      </div>
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Tickets To</span>
          <input (change)="onFilterChange(fromFilter.value, toFilter.value)" type="date" name="to" placeholder="mm/dd/yyyy" #toFilter>
        </label>
      </div>
    </form>
  </div>

  <!-- Bar menu's inventory list -->
  <div class="Orders__list [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
    <div class="ListItem [ o-grid o-grid-axis-align--between o-grid-cross-align--center u-12of12 u-6of12@lap ]" *ngFor="let order of orders">
      <h1 class="o-item-title u-font-display t3 u-text-truncate u-margin-c [ o-grid__child u-10of12 ]"><strong>${{order.total}}</strong></h1>
      <span class="o-item-modifier u-text-right [ o-grid__child u-2of12 ]">Table {{order.table}}</span>
      <span class="o-item-details o-brand-title u-color-primary u-margin-s--bottom u-text-uppercase [ o-grid__child u-12of12 ]">{{formattedDate(order.date)}}</span>
      <p class="o-item-description [ o-grid__child u-12of12 ]">{{order.client}}</p>
      <div class="c-items-list">
        <div *ngFor="let item of order.items" class="c-items-list__item o-grid o-grid-axis-align--between o-grid-cross-align--center">
          <span class="o-grid__child u-10of12 u-text-truncate u-padding-m--horizontal">{{item.name}}</span>
          <span class="o-grid__child u-2of12 u-text-right">{{item.quantity}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
