@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Orders {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0 10rem;
  @include respond-to('tab') { padding-bottom: 13rem; }
  @include respond-to('lap') { padding-bottom: 5rem; }
}

.Orders__form {
  width: 85%;
  background-color: #000000;
  border-radius: 3px;
  padding: 1rem;
  margin: 0 auto;
  @include respond-to('lap') { padding: 2rem; }
}

.Orders__list {
  width: 90%;
  padding: 0.5rem;
  margin: 2rem auto 0;
}

.c-items-list {
  width: 100%;
}

.ListItem {
  padding: 1rem;
  @include respond-to('lap') {
    padding: 1rem 2rem;
    margin: 1rem 0;
  }
}

.o-item-title { padding-right: 0.5rem; }
