@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Welcome {
  width: 100%;
  min-height: 100vh;
}

.Welcome__copywrite {
  padding: 4rem 10% 0;
  margin-bottom: 2rem;

  h1 {
    max-width: 500px;
  }

  .o-brand-logo {
    display: block;
    margin-top: 2rem;
  }
}
