<div class="Welcome o-grid--vertical o-grid-wrap--no">

  <div class="Welcome__copywrite o-grid__child o-grid__child--auto o-grid--vertical o-grid-axis-align--center">
    <span class="u-text-uppercase o-brand-title u-margin-c">Karaoke & Bar</span>
    <h1 class="t4 u-font-display">What are we gonna sing today?</h1>
    <span class="o-brand-logo">Singify</span>
  </div>

  <div class="o-action-block o-grid-align-self--end">
    <form [formGroup]="fields" (ngSubmit)="onSubmit(fields.value)" method="post" class="c-login__form c-form o-grid--vertical o-grid-wrap--no o-grid-axis-align--around">

      <div class="c-form__field">
        <label>
          <span class="o-brand-title">Username</span>
          <input [formControl]="fields.controls['username']" type="text" name="username" placeholder="Username" required>
        </label>
      </div>
      <div class="c-form__field">
        <label>
          <span class="o-brand-title">Password</span>
          <input [formControl]="fields.controls['password']" type="password" name="password" placeholder="Password" required>
        </label>
      </div>
      <div class="c-form__field o-grid__child u-12of12">
        <button type="submit" class="c-form__main-action [ o-grid o-grid-axis-align--center o-grid-wrap--no ]">Let's rock! <i class="o-icon-circle-arrow-right o-icon-small u-margin-m--left"></i></button>
      </div>
    </form>
  </div>
</div>
