<div class="Player o-grid o-grid-content-align--center">
  <div *ngIf="isAuth && playing" class="Player__album [ o-grid__child u-12of12 ] o-grid">
    <div class="o-album-artwork u-margin-m--bottom [ o-grid__child u-12of12 u-8of12@tab u-6of12@lap ]">
      <img src="{{playing.image}}" alt="">
    </div>
    <div class="o-album-information [ o-grid__child u-12of12 u-4of12@tab u-6of12@lap o-grid-align-self--end ]">
      <span class="o-brand-title u-margin-s--bottom">{{playing.name}}</span>
      <h1 class="u-font-display t3 u-margin-s--bottom"><strong>{{playing.album}}</strong></h1>
      <span class="o-brand-title">{{playing.client.name}}</span>
    </div>
  </div>
  <div *ngIf="isAuth && playing" class="Player__controls [ o-grid__child u-12of12 u-8of12@tab u-6of12@lap ] [ o-grid o-grid-wrap--no o-grid-axis-align--center o-grid-cross-align--center ]">
    <button *ngIf="!isPlaying" (click)="play()"><i class="o-icon-player-play"></i></button>
    <button *ngIf="isPlaying" (click)="pause()"><i class="o-icon-player-pause"></i></button>

    <button (click)="playNext()"><i class="o-icon-player-forwards o-icon-small"></i></button>
  </div>

  <div *ngIf="!isAuth" class="Player__authentication [ o-grid__child u-12of12 ]">
    <input class="u-text-center" type="text" placeholder="Spotify Token" name="sptftoken" #stfyToken/>
    <button (click)="authWithSpotify(stfyToken.value)" class="o-auth-btn">Log in</button>
  </div>
</div>
