@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Player {
  min-height: 100vh;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  @include respond-to('tab') { margin-bottom: 13rem; }
  @include respond-to('lap') {
    margin-bottom: 0;
    align-content: flex-end;
  }
}

.o-album-artwork {
  padding: 0 15%;

  img {
    display: block;
    width: 60vw;
    max-width: 300px;
    height: 60vw;
    max-height: 300px;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 auto;
    @include respond-to('lap') {
      width: 40vw;
      height: 40vw;
    }
  }
}

.o-album-information {
  padding-left: 1rem;
  text-align: center;
  text-shadow: 0 0 5px #000000;
  @include respond-to('tab') { text-align: left; }
}

.Player__controls {
  @include respond-to('lap') {
    min-width: 400px;
    padding-left: 12%;
  }

  button {
    padding: 1rem;
    border: 4px solid get-color('green');
    border-radius: 50%;
    margin: 0 0.5rem;
    @include respond-to('lap') { margin-top: 1.5rem; }
  }
}

.Player__authentication {
  text-align: center;

  .o-auth-btn {
    font-family: $trenda;
    font-weight: 800;
    margin: 0 auto;
    padding: 0.5rem;
    border-bottom: 4px solid get-color('primary');
  }
}
