.o-brand-logo {
  font-family: $yesteryear;
  color: get-color('primary');
  font-size: calc-em(36px);
}

.o-brand-title {
  display: block;
  font-size: calc-em(12px);
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.o-action-block {
  background-color: #000000;
  width: 85vw;
  max-width: 350px;
  height: 85vw;
  max-height: 300px;
  padding: 1.5rem;
  @include respond-to('tab') {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
