[class^='o-icon'] {
  display: block;
  width: 2rem;
  height: 2rem;
}

.o-icon-small {
  width: 1.5rem;
  height: 1.5rem;
}

.o-icon-frame {
  background: url('./assets/images/icons/frame.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-circle-arrow-right {
  background: url('./assets/images/icons/circle-arrow-right.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-circle-arrow-left {
  background: url('./assets/images/icons/circle-arrow-left.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-player-backwards {
  background: url('./assets/images/icons/backwards.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-player-play {
  background: url('./assets/images/icons/play.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-player-pause {
  background: url('./assets/images/icons/pause.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-player-forwards {
  background: url('./assets/images/icons/forward.svg') 50% 50% no-repeat;
  background-size: contain;
}

.o-icon-close {
  background: url('./assets/images/icons/circle-close.svg') 50% 50% no-repeat;
  background-size: cover;
}
