.App {
  width: 100vw;
  min-height: 100vh;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/images/background.jpg') 50% 50% no-repeat;
    background-size: cover;
    z-index: -2;
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(135deg, transparentize(#14121C, 0.04) 0%, transparentize(#14121C, 0.04) 71%, transparentize(#211A68, 0.04) 100%); /* stylelint-disable-line */
  }

  .o-icon-frame {
    position: absolute;
    top: 5%;
    left: 5%;
  }
}
