<div class="BarMenu">
  <!-- Bar menu's form for adding new items -->
  <div class="BarMenu__form">
    <form class="c-form [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Item Type</span>
          <select name="type" [(ngModel)]="formItem.type" required>
            <option value="0">Select a type</option>
            <option value="1">Drink</option>
            <option value="2">Snack</option>
            <option value="3">Food</option>
          </select>
        </label>
      </div>
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Name</span>
          <input type="text" name="name" placeholder="Item Name" [(ngModel)]="formItem.name" required>
        </label>
      </div>
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Price</span>
          <input type="number" name="price" placeholder="$0.00" [(ngModel)]="formItem.price" required>
        </label>
      </div>
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Description</span>
          <input type="text" name="description" placeholder="Description" [(ngModel)]="formItem.description" required>
        </label>
      </div>
      <div class="c-form__main-action o-grid o-grid-axis-align--end">
        <button *ngIf="isCreating" (click)="postItem()" class="u-font-display u-color-primary u-margin-m--left"><strong>Add to menu</strong></button>
        <button *ngIf="!isCreating" (click)="clearFormItem()" class="u-font-display u-color-primary u-margin-m--left"><strong>Cancel</strong></button>
        <button *ngIf="!isCreating" (click)="putItem()" class="u-font-display u-color-primary u-margin-m--left"><strong>Edit item</strong></button>
      </div>
    </form>
  </div>

  <!-- Bar menu's inventory list -->
  <div class="BarMenu__list [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]" *ngIf="items">
    <div class="ListItem [ o-grid o-grid-axis-align--between o-grid-cross-align--center u-12of12 u-6of12@lap ]" (click)="toggleItem(item)" *ngFor="let item of items">
      <h1 class="o-item-title u-font-display t3 u-text-truncate u-margin-c [ o-grid__child u-10of12 ]"><strong>{{item.name}}</strong></h1>
      <span class="o-item-modifier u-text-right [ o-grid__child u-2of12 ]">${{item.price}}</span>
      <span class="o-item-details o-brand-title u-color-primary u-margin-s--bottom u-text-uppercase [ o-grid__child u-12of12 ]">{{item.type}}</span>
      <p class="o-item-description [ o-grid__child u-12of12 ]">{{item.description}}</p>
      <button (click)="removeItem(item.id)" class="u-font-display u-color-primary"><strong>Remove item</strong></button>
    </div>
  </div>
</div>
