@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Yesteryear|Poppins:700');

$source-sans-pro: 'Source Sans Pro', sans-serif;
$yesteryear: 'Yesteryear', cursive;
$trenda: 'Trenda', 'Poppins', sans-serif;

$font-families: (
  'default': $source-sans-pro,
  'logo': $yesteryear,
  'display': $trenda
);

$typography-sizes: (
  't4': 52px,
  't3': 22px,
  't2': 18px,
  't1': 16px,
  's1': 14px,
  's2': 12px
);
