@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Widget {
  background-color: #000000;
  height: 10vh;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  @include respond-to('tab') {
    height: 20vh;
  }
  @include respond-to('lap') {
    height: 50vh;
    width: 50vh;
  }
}

.Widget__cover {
  display: block;
  width: 7vh;
  height: 7vh;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 5px;
  @include respond-to('tab') {
    width: 10vh;
    height: 10vh;
  }
  @include respond-to('lap') {
    width: 30vh;
    height: 30vh;
    margin-bottom: 5vh;
  }
}

.Widget__song {
  display: block;
  padding-right: 0.5rem;
  @include respond-to('lap') { text-align: center; }
}

.Widget__artist {
  display: block;
  letter-spacing: 1px;
  padding-right: 0.5rem;
  @include respond-to('lap') { text-align: center; }
}
