<div class="Stats">
  <div class="Stats__form">
    <form class="c-form [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <div class="c-form__field [ o-grid__child u-12of12 u-6of12@tab u-4of12@lap ]">
        <label>
          <span class="o-brand-title">Monthly stats</span>
          <select (change)="filterStats(monthFilter.value)" name="type" value="{{currentMonth}}" required #monthFilter>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </label>
      </div>
    </form>
  </div>

  <div class="Stats__list [ o-grid o-grid-axis-align--between o-grid-cross-align--start ]">
    <div *ngIf="stats && stats.currentMonthEarnings" class="c-stat [ o-grid__child u-12of12 ] [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <h1 class="c-stat__category [ o-grid__child u-12of12 ]">Finance stats</h1>
      <div class="c-stat__data [ o-grid__child u-12of12 u-6of12@tab ]">
        <span class="o-stat-number">${{stats.currentMonthEarnings}}</span>
        <span class="o-stat-name">Money earned</span>
      </div>
      <div class="c-stat__data [ o-grid__child u-12of12 u-6of12@tab ]">
        <span class="o-stat-number">{{stats.relativeEarnings}}%</span>
        <span class="o-stat-name">Than previous month</span>
      </div>
    </div>

    <div *ngIf="stats && stats.topTenItems && stats.topTenItems.length" class="c-stat [ o-grid__child u-12of12 u-12of12@lap ] [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <h1 class="c-stat__category [ o-grid__child u-12of12 ]">Bar stats</h1>
      <div class="c-stat__top-list">
        <div *ngFor="let item of stats.topTenItems" class="c-top-list__item [ o-grid o-grid-axis-align--around o-grid-cross-align--center ]">
          <h2 class="o-top-item-name t2 [ o-grid__child u-12of12 u-6of12@lap ]">{{item.name}}</h2>
          <span class="o-top-item-counter u-block [ o-grid__child u-12of12 u-4of12@lap ]">{{item.quantity}} orders</span>
        </div>
      </div>
    </div>

    <div *ngIf="stats && stats.topTenSongs && stats.topTenSongs.length" class="c-stat [ o-grid__child u-12of12 u-12of12@lap ] [ o-grid o-grid-axis-align--between o-grid-cross-align--center ]">
      <h1 class="c-stat__category [ o-grid__child u-12of12 ]">Karaoke stats</h1>
      <div class="c-stat__top-list">
        <div *ngFor="let song of stats.topTenSongs" class="c-top-list__item [ o-grid o-grid-axis-align--around o-grid-cross-align--center ]">
          <div class="c-top-item-data [ o-grid__child u-12of12 u-6of12@lap ]">
            <h2 class="o-top-item-name t2">{{song.name}}</h2>
            <span>{{song.artist}}</span>
          </div>
          <span class="o-top-item-counter u-block [ o-grid__child u-12of12 u-4of12@lap ]">{{song.quantity}} times</span>
        </div>
      </div>
  </div>
</div>
