@import
  '../../../styles/settings/index',
  '../../../styles/tools/index';

.Stats {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 0 10rem;
  @include respond-to('tab') { padding-bottom: 13rem; }
  @include respond-to('lap') { padding-bottom: 5rem; }
}

.Stats__form {
  width: 85%;
  background-color: #000000;
  border-radius: 3px;
  padding: 1rem;
  margin: 0 auto;
  @include respond-to('lap') { padding: 2rem; }
}

.Stats__list {
  width: 90%;
  padding: 0.5rem;
  margin: 2rem auto 0;
}

.c-stat {
  padding: 1rem;
  margin: 2rem auto;
  @include respond-to('lap') {
    padding: 1rem 2rem;
  }

  .c-stat__category {
    font-family: $trenda;
    font-weight: 800;
    font-size: calc-em(32px);
    margin-bottom: 2rem;
  }

  .c-stat__data {
    padding: 1rem;
    text-align: center;

    .o-stat-number {
      display: block;
      font-family: $trenda;
      font-weight: 800;
      font-size: calc-em(26px);
    }

    .o-stat-name {
      display: block;
      color: get-color('primary');
      font-size: 0.75em;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}

.c-stat__top-list {
  width: 100%;
  background-color: #000000;
  padding: 1rem 0;
  counter-reset: top;

  .c-top-list__item {
    padding: 0 0.5rem;
    margin: 2rem 0;

    &::before {
      counter-increment: top;
      content: counter(top);
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      color: #000000;
      font-family: $trenda;
      font-weight: 800;
      border-radius: 50%;
      background-color: get-color('primary');
      text-align: center;
    }

    .o-top-item-name {
      font-family: $trenda;
      font-weight: 800;
      text-align: center;
      margin: 1rem 0;
      @include respond-to('lap') { margin: 0; }
    }

    .o-top-item-counter {
      color: get-color('primary');
      font-size: 0.75em;
      letter-spacing: 4px;
      text-transform: uppercase;
      text-align: center;
    }

    .c-top-item-data {
      margin: 1rem 0;
      text-align: center;
      @include respond-to('lap') { margin: 0; }
    }
  }
}
